body {
    background-image: url('../img/marmore.png');
}

img {
    margin-bottom: 16px;
}

input {
    padding: 5px 10px 5px;
    border: 1px solid black;
    background-color: #fcfcfc;
    margin-bottom: 16px;
}

#acessar {
    margin-top: 15px;
    font-weight: bold;
}

#register-wrap{
    margin-top: 1%;
    width: 50%;
    margin-left: 25%;
    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#login-wrap{
    width: 43%;
    margin-left: 28.5%;
    margin-top:15%;
    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#linkEsqueciSenha {
    margin: 10px 0 10px;
    color: #018390;
}

#linkEsqueciSenha:hover {
    color:#004248; 
}

#welogo {
    width: 55%;
}

#textSenha{
    margin-top: 16px;
}

#botoes-produto{
    margin-top: 5px;
}

#produto_1:hover,
#produto_2:hover,
#produto_3:hover{
    text-decoration: underline;
    cursor: pointer;
}