form{
    padding-left: 15px;
}

#pacote, #nome, #descPacote, button{
    margin-bottom: 12px;
}

#primeiraLabel{
    margin-top: 16px;
}

input, textarea, select {
    width: 95%;
}

.modal-header{
    background-color: #018390;
    height: 70px;
}

#exampleModalLabel{
    color: white;
}

.close{
    background-color: #018390;
    color: #000;
    border-color: white;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 0%), 0px 0px 30px rgb(0 0 0 / 0%);
}

.close:hover{
    background-color: #018390;
    color: white;
}

#email, #nome, #produtos{
    border: solid 1px #000;
    padding-left: 12px;
}

.close{
    width: 10%;
}


#produtos{
    margin-bottom: 16px;
}

.modal-title{
    margin-left: 16px;
}
