:root {
    --fundo-cinza: #F3F3F3;
    --fundo-preto: #018390;
    --btn-color: #018390;
    --btn-color-hover: #F3F3F3;
    --btn-text: #F3F3F3;
    --btn-text-hover: #018390;
    --ciano: #27FBB8;
    --button-box: #F3F3F3;
    --button-box-border: #018390;
    --button-box-hover: #018390;
    --button-box-text: #333333;
    --button-box-text-hover: #F3F3F3;
    --proj-text: #00353A;
}

html,body {
    margin:0;
    padding:0;

    color:#00353A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    cursor:default;
}
/*Escondendo o scroll (chrome, safari e Opera)*/
body::-webkit-scrollbar {
    display:none;
}
/*Escondenedo o scroll (IE, Edge e Firefox)*/
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* TÍTULO */
.txt-titulo {
    width: 100%;
    font-size:64px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
/* DESCRIÇÃO */
.txt-desc {
    width:100%;
    font-size:18px;
    text-align: left;
}

/*Segmento com fundo cinza*/
.fundo-cinza {
    padding: 50px;
    background-color: var(--fundo-cinza);
    margin:0;
}
.fundo-preto {
    padding:0px;
    background-color:var(--fundo-preto);
    margin:0;
}


/*    HEADER    */
#header {
    display: flex;
    justify-content: space-between;
    height: 80px;

}

#botoes-produto{
    margin-top: 26px;
    margin-right: 32px;
}
#botoes-produto li{
    list-style:none;
    display: inline;
}

#logo {
    padding: 10px;
    margin-top: 16px;
    margin-left: 32px;
}

.header-option {
    padding: 0px 10px 0px;
    font-size:16px;
    letter-spacing: 0.1em;
    color: white;

    border-radius:5px;
}

#produto_4 {
    background-color: var(--fundo-preto);
}

/*    SEGMENTO 1    */

#desc-subtitulo,
#desc-titulo,
#desc-texto {
    color: var(--btn-text);
}

button {
    font-size:24px;
    width:100%;
    background-color:var(--btn-color);
    color:var(--btn-text);
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.55), 0px 0px 30px rgba(0, 0, 0, 0.15);
    padding: 10px 30px 10px;
    cursor:pointer;
}

button:hover{
    color:var(--btn-text-hover);
    background-color:var(--btn-color-hover); 
    border: solid 2px var(--btn-color-hover);
}

#btnTeste{
    font-size:14px;
    width:45%;
    background-color:var(--btn-color);
    color:white;
}

#descricao-seg {
    background-image: url('../img/scott-graham-5fNmWej4tAA-unsplash\ 1.png');
    background-size:100%;
    padding: 20px;
    margin:0px;
}



#descricao-seg p {
    font-size: 24px;
}

/*   SEGMENTO 2     */


#service-titulo {
    
    color: var(--proj-text)
}
#service-desc {
    color: var(--proj-text)
}
#service-titulo-wrap {
    width:80%;
}
#service-titulo-capa {
    padding: 10px 0 10px;
    background-image: url('../img/maopc.png');
    color:var(--btn-text);
}

.button-box {
    padding:10px;
    border-style:solid;
    border-color:var(--button-box-border);
    border-radius:20px;
    background-color:var(--button-box);
    color:var(--button-box-text);
    
}
.button-box:hover {
    color:var(--button-box-text-hover);
    background-color:var(--button-box-hover);
}

.btn-titulo {
    font-size: 24px;
    text-align:left;
}

.btn-desc {
    font-size: 14px;
    text-align:left;
}

/*   segmento 3    */

#sobre-imagem {
    object-fit:cover;
    width:100%;
    max-height:100%;
}


#sobre-titulo {
    color: var(--btn-text);
    text-align: left;
}
#sobre-desc {
    color: var(--btn-text);
    text-align: left;
}

#detalhe-excelencia,
#detalhe-integridade {
    color: var(--btn-text);
}
.detalhe-imagem {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 64px;
    height: 64px;
}

.detalhe-titulo {
    font-size:18px;
    text-align:center;
}
.detalhe-desc {
    font-size:14px;
    text-align:center;
}

/* SEGMENTO 4 */
#projeto {
    background-image: url('../img/aperto\ de\ mães.png');
    background-size:100%;
}
#projeto-titulo {
    color:var(--proj-text);
}

#projeto-desc{
    color: var(--proj-text);
    padding:30px 0 30px;
}

#text-button {
    text-decoration: none;
    color:white;
}
/* #text-button:hover {
} */

#projeto-button {
    margin-top: 22.5px;
}

/* SEGMENTO 5 */

#contato {
    background-color: var(--fundo-preto);
}

ul li {
    list-style: none;
}

#contato-logo {
    padding:60px;
    object-fit:cover;
    width:100%;
    max-height:100%;
}



#nav-lista-titulo {
    color:var(--ciano);
    
}
#contato-lista-titulo {
    color:var(--ciano);
}

/* RODAPÉ */

#rodape {
    color: #F3F3F3;
    padding: 10px;
    background-color: #222222;
}

/*=============================== PÁGINA 2 =================================*/

#titulo-pagina {
    margin:0;
    background-image: url('../img/bg.png');
    background-size:100%;
}
#pag-titulo {
    color: var(--fundo-cinza);
    margin:0;
    padding:50px 0 50px;
}

#sobre-pagina {
    margin:0;
}
/*segmento 2*/

#marketing {
    margin: 0;
}

#marketing-titulo {
    color: var(--proj-text);
    font-size: 50px;
}

#marketing-desc {
    color: var(--proj-text);
    margin: 0;
    text-align: left;
}

#marketing-valores,
#marketing-titulo,
#marketing-desc,
#marketing-detalhe-desc,
#marketing-detalhe-titulo {
    color: var(--proj-text)
}

#marketing-imagem {
    margin: 40px 0 40px;
    padding: 40px 0 40px;
    object-fit:cover;
    width:100%;
    max-height:100%;
}



#marketing-valores {
    margin: 0;
    text-align: left;
}

/*=========== PAGINA 3 =============*/
#redes-sociais-contato,
#form-text,
#contato-desc-top {
    color: var(--proj-text);
}

#contato-desc-top {
    text-align: center; 
}

#contato-titulo {
    text-align: center;
    color: #F3F3F3;
    margin: 0;
    background-image: url('../img/celular_man.png');
    background-size: 100%;
}

#contato-titulo p {
    padding: 20px 0 20px;
    margin: 0;
}

input {
    border-style:none;
    border-radius:10px;
    width:100%;
    margin: 0;
    padding:5px 0 5px;
}



.form-items {
    color: var(--fundo-preto);
}

#form-send {
    border-style: none;
    background-color: var(--fundo-preto);
}

/* SERVICOS */

h1 {
    margin:0;
}

#nossos-servicos-titulo {
    padding: 50px 0 50px;
    background-image: url('../img/maopc.png');
    background-size: 100%;
    text-align: center;
}


#opcoes-label{
    text-align: center;
}

/*pacote personalizado link*/

#personalizado-img {
    margin: 0;
}

/*CHATBOT*/
#container {
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
}

#icon-show {
    background-color: var(--fundo-preto);
    border-radius: 90px;
}

#bot-titulo {
    margin-bottom:0;
    width:100%;
    text-align: center;
    background-color:rgb(72, 72, 72);
    color:white;
}
#bot-titulo:hover {
    background-color: white;
    color: black;
    border: 1px solid red;
}

/*====== serviços banco ======*/

/* #servicos-banco {
    margin: 0;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
} */

.button-box-banco {
    display:flex;
    align-items: start;
    justify-content: center;
    flex-direction:column;
    width:  400px;
    /* height: 70px; */
    padding: 10px;
    border-style:solid;
    border-color:var(--fundo-preto);
    border-radius:20px;
    background-color:var(--fundo-cinza);
    color:#333333;
    overflow: hidden;
}
#button-desc-banco,
#button-titulo-banco {
    color: var(--proj-text)
}


.filho {
    width: 100px;
    height: 100px;

    background-color:black;
    color:white;
}


#projeto-titulo{
    padding-top: 60px;
}

#projeto-desc{
    margin-top: 50px;
}

.separador{
    color: #fff;
}



/* SOCORRO DEUS */
#unimedLogo{
    margin-top: 32px;
    margin-left: 6px;
    width:53%;
}

.container-recsenha{
    margin-top: 12%;
    margin-left: 25%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
}

.acessar-button{
    margin-bottom: 32px;
}

#config-pacote-descricao {
    color: var(--proj-text);
    margin: 32px auto;
    padding: 0 20px 0 20px;
    text-align: center;
    width: 75%;
}

#personalizado-header {
    background-image: url('../img/varias_caixas.png');
    color: white;
    text-align: center;
    padding: 30px 0 30px 0;
}